body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: top
}
nav {
    margin: 10px;
    }

.bar li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 15px;   
}

.border {
    color: rgb(141, 204, 168);
    background-color: rgb(141, 204, 168);
    padding: 1px;       
}

.headings {
    color: seagreen ;
    margin: 0  auto;
    width: 50%;
}

.photo {
    border: 2px solid darkolivegreen;
    border-radius: 40px;
	background-color: seagreen    ;
	padding: 4px;

a:link {color: darkolivegreen;}
a:visited {color: darkolivegreen;}
a:hover {color: blanchedalmond}

@media only screen 
    and (min-width: 378px) { 
        .headings {
            margin:  0 auto;
            width: 60%;
        }
    }

@media only screen 
and (min-width: 600px) {
    .headings {
        margin: 0 auto;
        width: 80%%;
    }
}

    
}    

@media only screen 
  and (min-width: 1025px) {
      body {
          font-size: 20px;
          line-height: 30px
      }  
    